<section>
    <footer class="page-footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Home</a>
                        </li>
                        <li>
                            <a href="#!">Forum</a>
                        </li>
                        <li>
                            <a href="#!">Gallery</a>
                        </li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-9 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Lorem, ipsum dolor.</h5>
                <p class="text-md-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, aliquam accusantium corporis rem rerum necessitatibus aperiam debitis odit doloribus facere molestias. Nisi totam repellendus temporibus, exercitationem quaerat accusamus esse beatae!</p>


                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">
            </div>
        </div>

        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href=""> Lorem ipsum dolor sit amet.</a>
        </div>

    </footer>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>

<script>
    $(window).on('scroll', function (event) {
        var scrollValue = $(window).scrollTop();
        if (scrollValue > 120) {
            $('.navbar').addClass('bg-dark');
        } else {
            $('.navbar').removeClass('bg-dark');
        }
    });
</script>

</body>

</html>